<h1>Movies</h1>

<div class="row">
  <% Movie.all.each do |movie| %>
  <!-- <img src="..." class="img-fluid" -->
    <div class="col-sm-3">
      <%= image_tag movie.poster_url, :class => "img-fluid"%>
    </div>
  <% end %>
</div>

<%= link_to "Add a Movie", "/movies/new" %>
