<h1>Add a Movie</h1>

<form action="/movies/create">
  <p>Title: <input name="title" type="text" autofocus></p>
  <p>Year: <input name="year" type="text"></p>
  <p>Poster: <input name="poster_url" type="text"></p>
  <button>Add</button>
</form>
